"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward


set mark-symlinked-directories on


set completion-ignore-case on
set completion-map-case on

# Show all autocomplete results at once
set page-completions off

set show-all-if-ambiguous on

set visible-stats on

TAB: menu-complete
"\e[Z": menu-complete-backward

set menu-complete-display-prefix on
set colored-stats on
set colored-completion-prefix on
